# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=
SANITY_REVALIDATE_SECRET=
 
# Mailchimp
MAILCHIMP_API_KEY=
MAILCHIMP_LIST_ID=817361bc26
MAILCHIMP_ACCOUNT_ID=8b885a8ef81783c75c1d9cc8f
 
# Resend
RESEND_API_KEY=
 
# Plausible
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=creativenz.govt.nz
 
# Sentry
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
 
# Vercel (auto-set)
VERCEL_GIT_COMMIT_SHA=
VERCEL_REGION=
 
